# The RPC to connect to.
RPC_HOST = "https://bsc-dataseed.binance.org:443"

# your account.
PRIVATE_KEY = ""

# The gas price to use for transactions.
GAS_PRICE_IN_WEI = 30

# The timeout to give in seconds for transactions to confirm.
TXN_TIMEOUT = 120

# Minimum amount of new plants pending before performing action.
MINIMUM_NEW_PLANTS = 20

# How many minutes to wait before checking garden again.
MINUTES_BETWEEN_UPDATES = 3

# Max attempts to try to do action.
MAX_TRIES = 5

# Create any number of 'compound' and 'sell' items in the list to do them in order.
# Once the end of the list has been reached, it will start from the beginning.
# This is so that the compounding strategy can be further customized.
ACTION_LIST = ["compound", "compound", "compound", "sell"]

# "Dogs" pools to monitor. See the list of pool ids in animalfarm.py comments.
DOGS_POOLS = [2, 3]

# "Pigs" pools to monitor. See the list of pool ids in animalfarm.py comments.
PIGS_POOLS = [0]